<!DOCTYPE html>

<html>

<head>
  <title>H▼MEP▲GE</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!-- Bootstrap4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


  <style>
body,
h1 {
    font-family: "Raleway", sans-serif;
    color: white;
    }

  html {
    position: relative;
    min-height: 100%;
    }
/*navbar*/
.navbar{
    background-color: rgba(52, 72, 84, 0.5);
    padding:10px;
}

.btn{
  /*background-color:rgba(48, 64, 74,1);*/
  color:white;
  margin-left: 0px;
  border-color:#eaf9fc;
  border-radius: 3px;
}
/*homepagelogo*/
  #span1 {
    font-size: 0.9em;
    }

  #span2 {
    letter-spacing: -0.1em;
    }
/*mainpart*/
  #gradient {
    overflow:auto;
    }

  .wrapper {
      padding: 4% 12% 4% 12%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
      grid-auto-rows: minmax(150px, 244px);
      overflow: hidden;
    }

/*modal*/
/*#myModal1{

    top:15px;
    right: 700px;
    bottom: 0;
    left: 200;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}*/

/*div-title part*/



    .card {
      background-color: rgba(236, 240, 241, 0.28);
      border-radius: 12px;
      border-width: 0px;
    }

    .genre {
      margin: 10px;
      font-size:20px;
      text-align:center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .gTileIcon{
      margin-left:25px;
    }

    .gTitle{
      padding-top: 5px;
      text-align: left;
      margin-left:-15px;
    }

/*div-second part*/
img {
    display: grid;
    border-radius: 7px;
    margin: auto;
  }
    .tul {
        padding-top:5px;
        background-color: rgba(236, 240, 241, 0.28);
        border-radius: 0px 0px 12px 12px;
        overflow: auto;
        width: 100%;
        height: 100%;
        border-radius: 0 0 12px 12px;
      }

    .one {
      margin: 7px;
      display: grid;
      text-align: center;
    }

/*footer*/
    .footer {
      position: absolute;
      bottom: 0;
      margin-bottom: 0px;
      width: 100%;
      height: 30px;
    }
    .note{
      margin-bottom: 5px;
      margin-right: 10px;
      text-align:right;
    }

    @media only screen and (max-width:1024px) {
      .wrapper {
        padding: 12%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5em;
        grid-auto-rows: minmax(150px, 244px)
      }
    }

    @media only screen and (max-width:824px) {
      .wrapper {
        padding: 12%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3em;
        grid-auto-rows: minmax(150px, 244px)
      }
    }

    @media only screen and (max-width:640px) {
      .wrapper {
        margin-top: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        grid-auto-rows: minmax(150px, 244px)
      }
    }

  </style>
</head>

<body id="gradient">

  <!-- navbar -->
  <nav class="navbar navbar-expand-sm  mb-3">
    <div class="container">

  <!-- logo of homepage -->
    <a class="navbar-brand">H<span>▼</span>ME<span id=span2>P</span><span id=span2>▲</span>GE</a>
    <ul class="navbar-nav">

  <!-- No1 - add website ============================================-->

      <li class="nav-item">
          <a class="nav-link" href="#"><button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#myModal1">Add Website</button></a>
        <!-- model for add website  -->
          <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog modal-sm">
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12">
               <!-- <this part is for adding website -->
                  <div class="input-group" id="addWeb">
                    <input type="text" class="form-control" id="addWebW" placeholder="Add Your website">
                  </div>
          <!--  <this part is for adding URL -->
                  <div>
                    <input type="text" class="form-control" id="addWebU" placeholder="Add Your URL" >
                  </div>
          <!--  <this part is for adding genre -->
                  <div>
                    <input type="text" class="form-control" id="addWebG" placeholder="Add Your Genre" >
                  </div>
                </div>
              </div>
            </div>
          <!-- <submit button -->
            <div class="modal-footer">
            <button type="submit" class="btn btn-default" data-dismiss="modal">Submit</button>
            </div>
            </div>
          </div>
      </li>

  <!-- No2 - add Genre================================================-->

    <li class="nav-item">
      <div class="container">
        <a class="nav-link" href="#"><button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#myModal2">Add Genre</button></a>
        <div class="modal fade" id="myModal2" role="dialog">
          <div class="modal-dialog modal-sm">
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12" >
            <!--  <this part is for adding genre -->
                <div class="input-group" id="addGenre">
                  <input type="text" class="form-control" id="addGenreG" placeholder="Add Your Genre" >
              <!-- <submit button -->
                  <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit" >Submit</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </li>

  <!-- No3 - add Log out =====================================================-->
   <li class="nav-item">
      <a class="nav-link" href="/logout"><button type="button" class="btn btn-outline-dark btn-sm">Log out</button></a>
    </li class="nav-item">

  </ul>
 </div>
</nav>
<!-- End of navbar =============================================================-->

  <div class="wrapper">

<!-- Finance ====================-->

    <div class="card">
     <!--1st div - (title - one main div and 2 divs inside it)==-->
      <div class="genre">
        <div class="gTileIcon">
          <img src="img/genre_icons/finance.png" id="gFinance" alt="Finance" width="40" height="40">
        </div>
        <div class="gTitle">Finance</div>
      </div>
      <!-- 2nd div - (box - includes 3 img) -->
      <div class="tul">
        <div class="one"><a href="https://www.bankofamerica.com/"><img src="img/bankofamerica copy.jpg" alt="Bankofamerica"></a></div>
        <div class="one"><a href="https://www.chase.com/"><img src="img/chase copy.jpg" alt="Chase"></a></div>
        <div class="one"><a href="https://www.paypal.com/"><img src="img/paypal copy.jpg" alt="PayPal"></a></div>
      </div>
    </div>

<!-- E-Commerce===================-->

    <div class="card">
      <!--1st div - (title - one main div and 2 divs inside it)==-->
      <div class="genre">
        <div class="gTileIcon">
          <img src="img/genre_icons/ecommerce.png" id="gEcommerce" alt="E-Commerce" width="40" height="40">
        </div>
        <div class="gTitle">E-Commerce</div>
      </div>
      <!-- 2nd div - (box - includes 3 img) -->
      <div class="tul">
        <div class="one"><a href="https://www.amazon.com/"><img src="img/amazon copy.jpg" alt="Amazon"></a></div>
        <div class="one"><a href="https://www.ebay.com/"><img src="img/ebay copy.jpg" alt="Ebay"></a></div>
        <div class="one"><a href="https://www.etsy.com/"><img src="img/etsy copy.jpg" alt="Etsy"></a></div>
      </div>
    </div>

<!-- News===================-->

    <div class="card">
    <!--1st div - (title - one main div and 2 divs inside it)==-->
      <div class="genre">
        <div class="gTileIcon">
          <img src="img/genre_icons/news.png" id="gNews" alt="News" width="40" height="40">
        </div>
        <div class="gTitle">News</div>
      </div>
      <!-- 2nd div - (box - includes 3 img) -->
      <div class="tul">
        <div class="one"><a href="https://news.google.com"><img src="img/googlenews copy.jpg" alt="googlenews"></a></div>
        <div class="one"><a href="https://www.cnn.com/"><img src="img/cnn copy.jpg" alt="CNN"></a></div>
        <div class="one"><a href="https://www.yahoo.com/news/"><img src="img/yahoonews copy.jpg" alt="Yahoo!NEWS"></a></div>
      </div>
    </div>

<!-- Video===================-->

    <div class="card">
      <!--1st div - (title - one main div and 2 divs inside it)==-->
      <div class="genre">
        <div class="gTileIcon">
          <img src="img/genre_icons/video.png" id="gVideo" alt="Video" width="40" height="40">
        </div>
        <div class="gTitle">Video</div>
      </div>
      <!-- 2nd div - (box - includes 3 img) -->
      <div class="tul ">
        <div class="one"><a href="https://www.hulu.com/"><img src="img/hulu copy.jpg" alt="Hulu"></a></div>
        <div class="one"><a href="https://www.netflix.com/"><img src="img/netflix copy.jpg" alt="Netflix"></a></div>
        <div class="one"><a href="https://www.youtube.com/"><img src="img/youtube copy.jpg" alt="YouTube"></a></div>
      </div>
    </div>

<!-- Social Media===================-->
    <div class="card">
      <!--1st div - (title - one main div and 2 divs inside it)==-->
      <div class="genre">
        <div class="gTileIcon">
          <img src="img/genre_icons/media.png" id="gSocialmedia" alt="Social Media" width="40" height="40">
        </div>
        <div class="gTitle">Social Media</div>
      </div>
      <!-- 2nd div - (box - includes 3 img) -->
      <div class="tul">
        <div class="one"><a href="https://www.facebook.com/"><img src="img/facebook copy.jpg" alt="Facebook"></a></div>
        <div class="one"><a href="https://www.twitter.com/"><img src="img/twitter copy.jpg" alt="Twitter"></a></div>
        <div class="one"><a href="https://www.tumblr.com/"><img src="img/tumblr copy.jpg" alt="Tumblr."></a></div>
      </div>
    </div>

<!-- Email===================-->

    <div class="card">
      <!--1st div - (title - one main div and 2 divs inside it)==-->
      <div class="genre">
        <div class="gTileIcon">
          <img src="img/genre_icons/email.png" id="gEmail" alt="Email" width="40" height="40">
        </div>
        <div class="gTitle">Email</div>
      </div>
      <!-- 2nd div - (box - includes 3 img) -->
      <div class="tul">
        <div class="one"><a href="https://mail.yahoo.com/"><img src="img/yahoomail copy.jpg" alt="Yahoo!Mail"></a></div>
        <div class="one"><a href="https://mail.google.com"><img src="img/gmail copy.jpeg" alt="gmail"></a></div>
        <div class="one"><a href="https://www.msn.com/en-us"><img src="img/msn copy.jpg" alt="MSN"></a></div>
      </div>
    </div>

  </div>

<!-- footer =========================================-->

  <footer class="footer">
    <div class="note">

      <!-- Powered by UCLA Coding Bootcamp -->
    </div>
  </footer>

<!-- javascript for moving each box================-->

  <script>
    $(document).ready(function() {
      $(".wrapper").sortable();
      $(".tul").sortable({
        connectWith: ".tul"
      });
    });
  </script>

  <script src="js/gradient.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
</body>

</html>
