<!DOCTYPE html>

<html>

<head>
  <title>H▼MEP▲GE</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link type="text/css" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css" rel="stylesheet" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!-- Bootstrap4 -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>


  <style>
body,
h1 {
    font-family: "Raleway", sans-serif;
    color: white;
    }

  html {
    position: relative;
    min-height: 100%;
    }
/*navbar*/
.navbar{
    background-color: rgba(52, 72, 84, 0.5);
    padding:10px;
}

.btn{
  /*background-color:rgba(48, 64, 74,1);*/
  color:white;
  margin-left: 0px;
  border-color:#eaf9fc;
  border-radius: 3px;
}
/*homepagelogo*/
  #span1 {
    font-size: 0.9em;
    }

  #span2 {
    letter-spacing: -0.1em;
    }
/*mainpart*/
  #gradient {
    overflow:auto;
    }

  .wrapper {
      padding: 4% 12% 4% 12%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1em;
      grid-auto-rows: minmax(150px, 244px);
      overflow: hidden;
    }

/*modal*/
/*#myModal1{

    top:15px;
    right: 700px;
    bottom: 0;
    left: 200;
    z-index: 10040;
    overflow: auto;
    overflow-y: auto;
}*/

/*div-title part*/



    .card {
      background-color: rgba(236, 240, 241, 0.28);
      border-radius: 12px;
      border-width: 0px;
    }

    .genre {
      margin: 10px;
      font-size:20px;
      text-align:center;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }

    .gTileIcon{
      margin-left:25px;
    }

    .gTitle{
      padding-top: 5px;
      text-align: left;
      margin-left:-15px;
    }

/*div-second part*/
img {
    display: grid;
    border-radius: 7px;
    margin: auto;
  }
    .tul {
        padding-top:5px;
        background-color: rgba(236, 240, 241, 0.28);
        border-radius: 0px 0px 12px 12px;
        overflow: auto;
        width: 100%;
        height: 100%;
        border-radius: 0 0 12px 12px;
      }

    .one {
      margin: 7px;
      display: grid;
      text-align: center;
    }

/*footer*/
    .footer {
      position: absolute;
      bottom: 0;
      margin-bottom: 0px;
      width: 100%;
      height: 30px;
    }
    .note{
      margin-bottom: 5px;
      margin-right: 10px;
      text-align:right;
    }

    @media only screen and (max-width:1024px) {
      .wrapper {
        padding: 12%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5em;
        grid-auto-rows: minmax(150px, 244px)
      }
    }

    @media only screen and (max-width:824px) {
      .wrapper {
        padding: 12%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 3em;
        grid-auto-rows: minmax(150px, 244px)
      }
    }

    @media only screen and (max-width:640px) {
      .wrapper {
        margin-top: auto;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2em;
        grid-auto-rows: minmax(150px, 244px)
      }
    }

  </style>
</head>

<body id="gradient">

  <!-- navbar -->
  <nav class="navbar navbar-expand-sm  mb-3">
    <div class="container">

  <!-- logo of homepage -->
    <a class="navbar-brand">H<span>▼</span>ME<span id=span2>P</span><span id=span2>▲</span>GE</a>
    <ul class="navbar-nav">

  <!-- No1 - add website ============================================-->

      <li class="nav-item">
          <a class="nav-link" href="#"><button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#myModal1">Add Website</button></a>
        <!-- model for add website  -->
          <div class="modal fade" id="myModal1" role="dialog">
            <div class="modal-dialog modal-sm">
            <div class="modal-body">
              <div class="row">
                <div class="col-lg-12">
               <!-- <this part is for adding website -->
                  <div class="input-group" id="addWeb">
                    <input type="text" class="form-control" id="addWebW" placeholder="Add Your website">
                  </div>
          <!--  <this part is for adding URL -->
                  <div>
                    <input type="text" class="form-control" id="addWebU" placeholder="Add Your URL" >
                  </div>
          <!--  <this part is for adding genre -->
                  <div>
                    <input type="text" class="form-control" id="addWebG" placeholder="Add Your Genre" >
                  </div>
                </div>
              </div>
            </div>
          <!-- <submit button -->
            <div class="modal-footer">
            <button type="submit" class="btn btn-default btn-outline-dark" data-dismiss="modal">Submit</button>
            </div>
            </div>
          </div>
      </li>

  <!-- No2 - add Genre================================================-->

    <li class="nav-item">
      <div class="container">
        <a class="nav-link" href="#"><button type="button" class="btn btn-outline-dark btn-sm" data-toggle="modal" data-target="#myModal2">Add Genre</button></a>
        <div class="modal fade" id="myModal2" role="dialog">
          <div class="modal-dialog modal-sm">
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-12" >
            <!--  <this part is for adding genre -->
                <div class="input-group" id="addGenre">
                  <input type="text" class="form-control" id="addGenreG" placeholder="Add Your Genre" >
              <!-- <submit button -->
                  <span class="input-group-btn">
                    <button class="btn btn-secondary btn-outline-dark" type="submit" data-toggle="modal">Submit</button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </li>

  <!-- No3 - add Log out =====================================================-->
   <li class="nav-item">
   
      <a class="nav-link" href="/logout"><button type="button" class="btn btn-outline-dark btn-sm">Log out</button></a>
      
    </li class="nav-item">

  </ul>
 </div>
</nav>
<!-- End of navbar =============================================================-->

  <div class="wrapper">

    <!-- FILLED WITH dashboard.js getGenres(); -->
  </div>

<!-- footer =========================================-->

  <footer class="footer">
    <div id="hiddenclass">
      {{id.id}}
    </div>
    <div class="note">
     

      Powered by UCLA Coding Bootcamp
    </div>
  </footer>

<!-- javascript for moving each box================-->

  <!-- <script>
    $(document).ready(function() {
      $(".wrapper").sortable();
      $(".tul").sortable({
        connectWith: ".tul"
      });
    });
  </script> -->

  <script src="js/dashboard.js" type="text/javascript"></script>
  <script src="js/gradient.js"></script>
  <!-- <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script> -->
</body>

</html>
